@import 'react-day-picker/dist/style.css';

html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#proj-title {
  white-space: nowrap;
  overflow: hidden;
  margin-left: 25px;
  height: 75px;
}

#proj-descrip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#projectPage {
  box-sizing: border-box;
  width: 100%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

#projectPage .badge {
  max-width: 100px;
}

#project-members {
  display: flex;
  gap: 20px;
}

#project-tags {
  display: flex;
  gap: 4px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.tag {
  background-color: #e0e0e0;
  padding: 6px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.tag button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #555;
}