html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(230, 230, 230);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#page-Name {
  min-height: 100vh;      
  display: flex;
  justify-content: center; 
  align-items: center;    
  text-align: center;      
  font-size: 4rem;  
  font-weight: 800;  
  color: rgb(0, 0, 0);      
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.0s ease-in forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#Topbar {
  height: 75px;             
  background-color: rgb(33, 33, 33); 
  color: white;              
  display: flex;            
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 1-p;
  top:0;
  position: fixed;
}

#Topbar .nav-link,
#Topbar .nav-dropdown-toggle{
  color: white !important;  /* override Bootstrap defaults */
}

#TopbarLeft {
  display: flex;
  gap: 30px;
}

a.footLink {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

a.footLink:Hover {
  color: rgb(51, 151, 187);
  background-color: transparent;
  text-decoration: none;
}

#Footer {
  height: fit-content;             
  background-color: rgb(33, 33, 33); 
  color: white;    
  width:100%;  
  position:fixed;
  bottom:0;                  
}

#Logo {
  float: left;
  left: 0;
  padding-left: 15px;
  padding-right: 30px;
}

nav-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  box-sizing: border-box; /* Include padding in the element's total width and height */
}
